#################################################################################
### VENDOR_EDIT, OEM All rights reserved.
###
### File: - init.oem.rc
### Author: jiangyonggao
### all oem triger & init are here
### ------------------------------- Revision History: ----------------------------
### <author>                        <data>       <version>   <desc>
### ------------------------------------------------------------------------------
### jiangyg@PM                     2013-10-21                Create this file
##################################################################################

#@bsp, 2019/08/22 Add dash charging
service dashd /vendor/bin/dashd
    class core
    critical
    seclabel u:r:dashd:s0
    group root system

on fs
    mount ext4 /dev/block/bootdevice/by-name/op1 /mnt/vendor/op1 ro barrier=1 discard context=u:object_r:op1_file:s0
    #yankelong add
    chown system system /sys/class/leds/vibrator/haptic_audio_ai_input
    chown system system /sys/class/leds/vibrator/haptic_audio_tp_input
    chown system system /sys/class/leds/vibrator/haptic_audio_tp_size
    chown audioserver audioserver /sys/class/leds/vibrator/register
    chown system system /sys/class/leds/vibrator/vmax_mv
    chmod 660 /sys/class/leds/vibrator/vmax_mv
    chmod 660 /sys/class/leds/vibrator/rtp
    chmod 660 /sys/class/leds/vibrator/haptic_audio_tp_time
    chmod 644 /sys/class/leds/vibrator/haptic_osc_data
    chmod 660 /sys/class/leds/vibrator/ram_test
    chmod 644 /sys/class/leds/vibrator/ram_update
    chmod 644 /sys/class/leds/vibrator/f0_cali_data
    chown system system /sys/class/leds/vibrator/activate
    chown system system /sys/class/leds/vibrator/brightness
    chown system system /sys/class/leds/vibrator/duration
    chown system system /sys/class/leds/vibrator/state
    chown system system /sys/class/leds/vibrator/rf_hz
    chown system system /sys/class/leds/vibrator/lra_resistance
    chown system system /sys/class/leds/vibrator/gain
    chown system system /sys/class/leds/vibrator/vmax
    chown system system /sys/class/leds/vibrator/index
    chown system system /sys/class/leds/vibrator/activate_mode
    chown system system /sys/class/leds/vibrator/seq
    chown system audio /sys/class/leds/vibrator/rtp
    chown system audio /sys/class/leds/vibrator/haptic_audio_tp_time
    chown system system /sys/class/leds/vibrator/loop
    chown system system /sys/class/leds/vibrator/ignore_store
    chown system system /sys/class/leds/vibrator/osc_cali
    chown system system /sys/class/leds/vibrator/haptic_osc_data
    chown system system /sys/class/leds/vibrator/ram_test
    chown system system /sys/class/leds/vibrator/ram_update
    chown system system /sys/class/leds/vibrator/f0_cali_data
    chown system system /sys/class/leds/vibrator/cali
    chown system system /sys/module/lpm_levels/parameters/sleep_disabled
    restorecon /sys/class/leds/vibrator/activate
    restorecon /sys/class/leds/vibrator/brightness
    restorecon /sys/class/leds/vibrator/duration
    restorecon /sys/class/leds/vibrator/state
#change ownership and premission for awinic haptic shock with music
    chown audioserver audioserver /dev/awinic_haptic
    chown audioserver audioserver /sys/class/leds/vibrator/haptic_audio
    chown audioserver audioserver /sys/class/leds/vibrator/gun_type
    chown audioserver audioserver /sys/class/leds/vibrator/bullet_nr
    chmod 777 /sys/class/leds/vibrator/gun_type
    chmod 777 /sys/class/leds/vibrator/bullet_nr
    chmod 777 /sys/class/leds/vibrator/register
#    /* add for aging apk to set node */
    chown system system /sys/class/power_supply/battery/is_aging_test
    chown system system /sys/class/power_supply/battery/dump_reg

#add for tri_state_key
    chown system system /sys/bus/platform/devices/soc/soc\:tri_state_key/hall_data_calib
    chown system system /sys/bus/platform/devices/soc/soc\:tri_state_key/hall_set_value

#add for tp firmware update
    write /sys/devices/platform/soc/a94000.i2c/i2c-4/4-004b/tp_fw_update 0
    write /sys/devices/platform/soc/a94000.i2c/i2c-4/4-0048/tp_fw_update 0
    write /sys/devices/platform/soc/984000.i2c/i2c-4/4-005d/tp_fw_update 0
    write /sys/devices/platform/soc/984000.i2c/i2c-4/4-0048/tp_fw_update 0
    write /sys/devices/platform/soc/a94000.i2c/i2c-4/4-005d/tp_fw_update 0
    write /sys/devices/platform/soc/880000.spi/spi_master/spi0/spi0.0/tp_fw_update 0

#add for tp debug log & to set node gesture_enable
    chown system system /proc/touchpanel/gesture_enable
    chown system system /proc/touchpanel/gesture_switch
    chown system system /proc/touchpanel/tpedge_limit_enable

    chown system system /proc/enhance_dash

#ifdef VENDOR_EDIT
#uma.mahesh@Imaging 2020/4/8 add for factory item
    chown system system /sys/class/leds/led:torch_0/brightness
    chmod 666 /sys/class/leds/led:torch_0/brightness
    chown system system /sys/class/leds/led:torch_1/brightness
    chmod 666 /sys/class/leds/led:torch_1/brightness
    chown system system /sys/class/leds/led:switch_0/brightness
    chmod 666 /sys/class/leds/led:switch_0/brightness
    chown system system /sys/class/leds/led:switch_1/brightness
    chmod 666 /sys/class/leds/led:switch_1/brightness
    chown system system /sys/class/leds/led:switch_2/brightness
    chmod 666 /sys/class/leds/led:switch_2/brightness
    chown system system /sys/class/leds/led:torch_2/brightness
    chmod 666 /sys/class/leds/led:torch_2/brightness
    chown system system /sys/class/leds/led:switch_3/brightness
    chmod 666 /sys/class/leds/led:switch_3/brightness
    mkdir /mnt/vendor/persist/camera 0777 system system
#add for laser
    chown system system /dev/stmvl53l1_ranging
    chmod 0666 /dev/stmvl53l1_ranging
    start vl53l1_daemon_main
#add for ams-tof
    chown system system /sys/kernel/tof_control/app0/capture
    chmod 666 /sys/kernel/tof_control/app0/capture
    chown system system /sys/kernel/tof_control/app0/app0_get_fac_calib
    chmod 666 /sys/kernel/tof_control/app0/app0_get_fac_calib
    chown system system /sys/kernel/tof_control/app0/app0_get_distance
    chmod 666 /sys/kernel/tof_control/app0/app0_get_distance
    chown system system /sys/kernel/tof_control/app0/app0_read_peak_crosstalk
    chmod 666 /sys/kernel/tof_control/app0/app0_read_peak_crosstalk
    chown system system /sys/kernel/tof_control/app0/period
    chmod 666 /sys/kernel/tof_control/app0/period
    chown system system /sys/kernel/tof_control/app0/iterations
    chmod 666 /sys/kernel/tof_control/app0/iterations
    chown system system /sys/kernel/tof_control/app0/alg_setting
    chmod 666 /sys/kernel/tof_control/app0/alg_setting
    chown system system /sys/kernel/tof_control/app0/app0_clk_iterations
    chmod 666 /sys/kernel/tof_control/app0/app0_clk_iterations
    chown system system /sys/kernel/tof_control/chip_enable
    chmod 666 /sys/kernel/tof_control/chip_enable
    chown system system /sys/kernel/tof_control/app0/app0_clk_trim_set
    chmod 666 /sys/kernel/tof_control/app0/app0_clk_trim_set
    chown system system /sys/kernel/tof_control/app0/app0_apply_fac_calib
    chmod 666 /sys/kernel/tof_control/app0/app0_apply_fac_calib
    chown system system /sys/kernel/tof_control/driver_debug
    chmod 666 /sys/kernel/tof_control/driver_debug
#add for ois debug
    chown system system /sys/kernel/ois_control/dump_registers
    chmod 666 /sys/kernel/ois_control/dump_registers
#endif

#ifdef VENDOR_EDIT
#   BSP add for display  2020/04/17 @Leo_BSP
    chmod 0666 /sys/class/drm/card0-DSI-1/hbm
    chmod 0666 /sys/class/drm/card0-DSI-1/hbm_brightness
    chmod 0666 /sys/class/backlight/panel0-backlight/brightness
#endif
#	display add 2018/10/19  @lichao_display
	chmod 0666 /sys/class/drm/card0-DSI-1/SRGB
	chmod 0666 /sys/class/drm/card0-DSI-1/DCI_P3
	chmod 0666 /sys/class/drm/card0-DSI-1/aod
	chmod 0666 /sys/class/drm/card0-DSI-1/night_mode
	chmod 0666 /sys/class/drm/card0-DSI-1/panel_serial_number
	chmod 0666 /sys/class/drm/card0-DSI-1/oneplus_mode
	chmod 0666 /sys/class/drm/card0-DSI-1/adaption_mode
	chmod 0666 /sys/class/drm/card0-DSI-1/notify_fppress
	chmod 0666 /sys/class/drm/card0-DSI-1/dim_alpha
	chmod 0666 /sys/class/drm/card0-DSI-1/notify_dim
	chmod 0666 /sys/class/drm/card0-DSI-1/force_screenfp
	chmod 0666 /sys/class/drm/card0-DSI-1/native_display_p3_mode
	chmod 0666 /sys/class/drm/card0-DSI-1/native_display_wide_color_mode
	chmod 0666 /sys/class/drm/card0-DSI-1/native_display_srgb_color_mode
	chmod 0666 /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dynamic_dsi_clock
	chown radio radio /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dynamic_dsi_clock
	chown radio radio /proc/force_reset
	chmod 0666 /sys/class/drm/card0-DSI-1/native_display_loading_effect_mode
	chmod 0666 /sys/class/drm/card0-DSI-1/native_display_customer_srgb_mode
	chmod 0666 /sys/class/drm/card0-DSI-1/native_display_customer_p3_mode
	chmod 0666 /sys/class/drm/card0-DSI-1/dimlayer_bl_en
	chmod 0666 /sys/class/drm/card0-DSI-1/dither_en

on boot
#ifdef VENDOR_EDIT
    chmod 0666 /dev/goodix_fp
    chmod 0660 /sys/devices/platform/soc/soc:fingerprint_detect/sensor_version
    chown system system /sys/devices/platform/soc/soc:fingerprint_detect/sensor_version
    chmod 0666 /proc/touchpanel/touch_hold
    chown system system /proc/touchpanel/touch_hold
    chmod 0664 sys/devices/platform/soc/soc:goodix_fp/screen_state
    chown system system sys/devices/platform/soc/soc:goodix_fp/screen_state
    chmod 0666 /dev/qseecom
#endif
    chmod 0666 /dev/pn553
    chown nfc nfc /dev/pn553
    chmod 0666 /dev/p73
    chown secure_element secure_element /dev/p73
#Norman@Connectivity 2020/04/24 add for default country code
    setprop ro.boot.wificountrycode 00

#Brandon@Conn 2020/07/24 add for default uicc support
    setprop persist.vendor.radio.uicc_se_enabled true

#ifdef VENDOR_EDIT
#Set TCP MTU probing to automatic
   write /proc/sys/net/ipv4/tcp_mtu_probing 1
#endif /*VENDOR_EDIT*/

#ifdef VENDOR_EDIT
#tempest.chen@BSP 2020/12/07 add for light sensor and ultrasound proximity
    chmod 666 /dev/input/event1
    chmod 666 /dev/input/event2
    chmod 666 /dev/input/event8
    chmod 666 /dev/input/event9
    chmod 666 /dev/input/event10
    chmod 666 /dev/input/event11
#endif /*VENDOR_EDIT*/

on init
    setprop vendor.boot.hw_version ${ro.boot.hw_version}

    #@bsp, 2019/08/22 Add dash charging
    chown system system /dev/dash
    chmod 0664 /dev/dash
    #restorecon /dev/dash

on post-fs
    chmod 0664 /sys/module/qpnp_smb5/parameters/usb_connector_temp
    chown system system /sys/module/qpnp_smb5/parameters/usb_connector_temp
    chmod 0664 /sys/module/qpnp_smb5/parameters/disable_connector_protect
    chown system system /sys/module/qpnp_smb5/parameters/disable_connector_protect
    chmod 0664 /sys/module/qpnp_smb5/parameters/usb_interval_temp
    chown system system /sys/module/qpnp_smb5/parameters/usb_interval_temp
    chmod 0664 /sys/module/qpnp_smb5/parameters/call_on
    chown radio radio /sys/module/qpnp_smb5/parameters/call_on
    chmod 0666 /sys/module/qpnp_smb5/parameters/video_call_on
    chown system system /sys/module/qpnp_smb5/parameters/video_call_on

#ifdef VENDOR_EDIT
#   /* create a empty file for wifi hal to write mac address */
    mkdir /mnt/vendor/persist/qca6390 0770 wifi wifi
    write /mnt/vendor/persist/qca6390/wlan_mac.bin ""
    chown wifi wifi /mnt/vendor/persist/qca6390/wlan_mac.bin
    copy /vendor/etc/wifi/qca6390/WCNSS_qcom_cfg.ini /mnt/vendor/persist/qca6390/WCNSS_qcom_cfg.ini
    chown wifi wifi /mnt/vendor/persist/qca6390/WCNSS_qcom_cfg.ini
#   /*create a empty file for wifi single point calibration*/
    mkdir /mnt/vendor/persist/copy 0770 wifi wifi
#   /* create a empty file for wifi hal to write qca6490 mac address */
    write /mnt/vendor/persist/wlan_mac.bin ""
    chown wifi wifi /mnt/vendor/persist/wlan_mac.bin
#   /* Implement the function of forced Chain0/1 insmod WCNSS_qcom_cfg.ini */
    copy /vendor/etc/wifi/WCNSS_qcom_cfg.ini /mnt/vendor/persist/WCNSS_qcom_cfg.ini
    chown wifi wifi /mnt/vendor/persist/WCNSS_qcom_cfg.ini
#endif

#ifdef VENDOR_EDIT
#ken.chenxm@SYSTEM, 2019/10/10, add for [OSP-3172] charging optimizated
    chown system system /sys/class/power_supply/battery/op_disable_charge
    chmod 660 /sys/class/power_supply/battery/op_disable_charge
    chown system system /sys/class/power_supply/battery/temp
    chmod 660 /sys/class/power_supply/battery/temp
    chown system system /sys/class/power_supply/bms/battery_health
    chmod 660 /sys/class/power_supply/bms/battery_health
#endif
#jay.fa@OPTI, 2020/08/12, add for [OPTI-42] hypnus
    chown root system /sys/class/thermal/cooling_device0/cur_state
    chown root system /sys/class/thermal/cooling_device1/cur_state
    chown root system /sys/class/thermal/cooling_device2/cur_state
    chown root system /sys/class/kgsl/kgsl-3d0/max_pwrlevel
    chown root system /sys/class/kgsl/kgsl-3d0/min_pwrlevel
    chown root system /sys/class/thermal/cooling_device14/cur_state
    chmod 660 /sys/class/thermal/cooling_device0/cur_state
    chmod 660 /sys/class/thermal/cooling_device1/cur_state
    chmod 660 /sys/class/thermal/cooling_device2/cur_state
    chmod 660 /sys/class/kgsl/kgsl-3d0/max_pwrlevel
    chmod 660 /sys/class/kgsl/kgsl-3d0/min_pwrlevel
    chmod 660 /sys/class/thermal/cooling_device14/cur_state

on post-fs-data
    mkdir /data/vendor/oemnvitems 0771 radio radio
    #brandon.zeng@Conn,2020/08/11. move data path to post-fs-data
    mkdir /data/vendor/nfc 0770 nfc nfc

#endif /* VENDOR_EDIT */

#ifdef VENDOR_EDIT
# TomCheng@Core ,2020/06/22, HDCP provision key feature
    mkdir /mnt/vendor/persist/hdcp/media_dump 0770 mediaex mediadrm
    mkdir /mnt/vendor/persist/hdcp  775 media mediadrm
    restorecon /mnt/vendor/persist/hdcp
#endif

# neil.sun@Connectivity, 2020/08/12, add for wifi minidump
mkdir /data/vendor/ramdump/wifi 0770 system system

#if OP_FEATURE_MM_ADSP_MINIDUMP == 1
# zhangrun@MM, 2020/09/12, implement to collect adsp minidump
    mkdir /data/vendor/ramdump/adsp 0770 system system
# endif

    chown system system /sys/devices/platform/vendor/vendor:motor_pl/enable
    chown system system /sys/devices/platform/vendor/vendor:motor_pl/hall_calibration
    chown system system /sys/devices/platform/vendor/vendor:motor_pl/direction
    chown system system /sys/devices/platform/vendor/vendor:motor_pl/position

#ifdef VENDOR_EDIT
    setprop persist.vendor.mdm_helper.fail_action cold_reset,s3_reset,panic
#endif

# denzel.chen@performance, 2020/05/12, add for OPBRITN-3462
# system server cannot write to /proc/sys files,
# and chown/chmod does not work for /proc/sys/ entries.
# So proxy writes through init.
on property:sys.sysctl.watermark_boost_factor=*
    write /proc/sys/vm/watermark_boost_factor ${sys.sysctl.watermark_boost_factor}

on property:vendor.wlan.write.con_mode=*
   write /sys/module/wlan/parameters/con_mode ${vendor.wlan.write.con_mode}

#ifdef VENDOR_EDIT
service vl53l1_daemon_main /vendor/bin/vl53l1_daemon_main
    class late_start
    user system
    group system
    socket vl53l1_daemon stream 660 system system
#endif

#ifdef VENDOR_EDIT
#kim@bsp 2019/10/25 add to fix apsd wrong issue when boot with dash connected
on property:sys.boot_completed=1
    write /sys/module/smb5_lib/parameters/sys_boot_complete 1
#endif

#ifdef VENDOR_EDIT
# TomCheng@Core ,2020/06/22, HDCP provision key feature
service mvhdcpkey /system/bin/mv /sdcard/hdcpkey /mnt/vendor/op2/hdcpkey
    class core
    user root
    group root
    disabled
    oneshot
    seclabel u:r:vold:s0

service rmhdcpkey /system/bin/rm /mnt/vendor/op2/hdcpkey
    class core
    user root
    group root
    disabled
    oneshot
    seclabel u:r:vold:s0

service chmodhdcpkey /system/bin/chmod 777 /mnt/vendor/op2/hdcpkey
    class core
    user root
    group root
    disabled
    oneshot
    seclabel u:r:vold:s0

service dphdcp2p2prov /vendor/bin/hdcp2p2prov /mnt/vendor/op2/dphdcp2key /mnt/vendor/op2/DPS_hdcp2
    class core
    setenv LD_LIBRARY_PATH /vendor/lib64
    user root
    group root
    disabled
    oneshot
    seclabel u:r:vendor_init:s0

service verifydphdcp2p2prov /vendor/bin/hdcp2p2prov -verify
    class core
    setenv LD_LIBRARY_PATH /vendor/lib64
    user root
    group root
    disabled
    oneshot
    seclabel u:r:vendor_init:s0

service mvdphdcp2key /system/bin/mv /sdcard/dphdcp2key /mnt/vendor/op2/dphdcp2key
    class core
    user root
    group root
    disabled
    oneshot
    seclabel u:r:vold:s0

service rmdphdcp2key /system/bin/rm /mnt/vendor/op2/dphdcp2key
    class core
    user root
    group root
    disabled
    oneshot
    seclabel u:r:vold:s0

service mvdpshdcp2 /system/bin/mv /sdcard/DPS_hdcp2 /mnt/vendor/op2/DPS_hdcp2
    class core
    user root
    group root
    disabled
    oneshot
    seclabel u:r:vold:s0

service rmdpshdcp2 /system/bin/rm /mnt/vendor/op2/DPS_hdcp2
    class core
    user root
    group root
    disabled
    oneshot
    seclabel u:r:vold:s0
#endif
